body{
    background-color: #A6CF98;
}
.background {

position
:
 absolute
;

display
:
 block
;

top
: 0;

left
: 0;

z-index
: 0;
}
a{
    text-decoration: none !important;
}
h2{
    text-align: center
}
/* HOME PAGE */
.head-title{
    font-size: 4rem;
    padding-bottom: 10%;
}
.head-img{
    width: 95%;
    border-radius: 5%;
}
/* JOIN A CHAT ROOM */
.join-title{
    font-size: 3rem;
}
.join_room{
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 50px;
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.join-btn{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 50px;

}
/* FEATURES */
#features{
    background-color: #557C55;
    padding: 2% 5% 7%;
    position: absolute;
    z-index: 1;
    margin-top: -200px;
    font-weight: 900;

}
@media (max-width: 1000px){
    #features{
        position:static;
        margin-top: 0px;
        margin-bottom: 250px;
    }
}
/* TESTIMONIALS */
#testimonials {
    margin-top: 250px;
}

.testimonial-text{
    font-size: 2.5rem;
    line-height: 1.5;
    }

.carousel-item{       /*Like that the buttons are separated with space from the tex */
    padding: 7% 15%;
}
/* FOOTER */
#footer{
    background-color: #FA7070;
    text-align:center;
    margin-top: auto;position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
}
.footer-brand{
    text-align:center;
}

p {
text-align: center;
margin-top: 200px;
margin-left: 50px;
margin-right: 50px;

}
.navbar-custom {
    background-color: #557C55;
    border-color: #FA7070;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-btn{
    width: 100%;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 50px;
}

.enter_btn{
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

.create_btn{
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

/* CHAT ROOM */
.message-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-color: #557C55;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    height: 80vh;
    width: 40%;
    flex-direction: column;

}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
    justify-content: center;
}

.inputs {
    padding: 10px;
    display: flex;
}

#message {
    flex: 1;
}

.text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.muted{
    font-size: 10px;
    color: #557C55;
}

/* BUTTONS */
.buttons{
   margin:auto;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

.create-btn{
    display: flex;
    margin-top: 200px;
    position: absolute;
}

 .sharestory {
            margin: auto;
            width: 100%; /* Adjust as needed */
            height: 50vh;
            background-color: #F2FFE9;
            color: black;
            font-size: 25px;
            border-color: #F2FFE9;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            text-align: left;
            padding: 0.4em;
        }

.inputs {
            width: 100%; /* Adjust as needed */
            background-color: #F2FFE9;
            border-color: #F2FFE9;
            border-radius: 5px;
            color: black;
            margin: 5px 0; /* Adjust as needed */
            box-sizing: border-box;
        }

.input-name{
    width: 50%;
    justify-content: center;
    background-color: #F2FFE9;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    color: black;

  margin: 5px 50px;
  box-sizing: border-box;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
    .sharestory {
        width: 100%;
        padding: 0.2em;
        font-size: 20px;
    }

    .inputs {
        width: 100%;
        margin: 5px 0;
    }
}

/* CHATTY */
.chatty-text{
    color: #FA7070;
    font-weight: bold;
}
.chatty{
    background-color: #F2FFE9;
}


/* ALL STORIES PAGE */
.post-preview {
            margin-bottom: 2rem;
        }

        .story-title {
            font-size: 2rem;
        }

        .story-meta {
            font-size: 1rem;
            color: #6c757d;
        }

        .clearfix {
            margin-top: 2rem;
        }

        .btn-primary {
            width: 100%; /* Adjust as needed */
        }
/* SINGLE STORY */
.story-main-text {
    font-size: 1.5rem;
    text-align: left;
}