.content {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  h2  {
    text-align: center;
  }

h1{
    text-align: center;
}
.create-btn{
    width: 100%;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 50px;

}

.home-buttons{
    width: 100%;
    margin-top: 60px;
    margin-left: 100px;
    padding: 10px 0;
}

.join_room{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.enter_btn{
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

.create_btn{
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

.message-box{
    justify-content: center;
    background-color: #365486;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    height: 80vh;
    display: flex;
    width: 40%;

    flex-direction: column;
    width: 80vh;
    align-items: stretch;
   
}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
    justify-content: center;
}

.inputs {
    padding: 10px;
    display: flex;
}

h2{
    text-align: center
}

#message {
    flex: 1;
}

.text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.muted{
    font-size: 10px;
    color: darkgray;
}

.bg-img{
background-image: url('img/homepage.png');
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  background-size: cover;
}

.buttons{
    display: flex;
    margin-left: 10%;
    margin-top: 10%;
    flex-direction: column;
    width: 80vh;
    align-items: stretch;
}

.create-btn{
    display: flex;
    margin-top: 200px;
    position: absolute;

}

p {
text-align: center;
margin-top: 200px;
margin-left: 50px;
margin-right: 50px;
}

.sharestory{
  margin-left: 10px;
   width: 160vh;
   height: 60vh;
    background-color: #365486;
    border-color: black;
    color: white;
    font-size: 25px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: left;
    padding-left:0.4em;
    padding-top:0;
    padding-bottom:0.4em;
    padding-right: 0.4em;
}

.inputs{
    width: 70%;
    justify-content: center;
    background-color: #365486;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    color: white;
   
  margin: 5px 50px;
  box-sizing: border-box;
}

.chatty-text{
    color: greenyellow;
}