{% include "navbar.html" %}
{% include "layout.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    
</head>
<body>
    <div>
        <h1>The mission of Chat Rooms</h1>
    </div>
    <div class="card">
        <p>A place where you can SHARE, COMMUNICATE and LET IT GO.
        </p>
        <p>Chat anonymously or to have an absolute private conversation that will erase once you
            leave the server. Be yourself, share and let it go.
        </p>
        <p>
            Share your story and let it go. Free youself of your stories. 
        </p>
    </div>
</body>
</html>