{% include "layout.html" %}
{% include '_messages.html' %}
{% include 'navbar.html' %}


<section>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left: 5%">
        <br>
        <form method="post">
        <input class="input-name" type="text" placeholder="Your Name" name="username" value="{{username}}" />
        <button type="submit" name="create" class="btn btn-primary ">
            Create
        </button>
    </div>
    </form>
    <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left: 5%">
        <img src="static/css/img/home-page.png" class="head-img" alt="Chat Rooms Image">
    </div>

</div>
</div>
</section>
<!-- Features -->
  <section id="features">
    <div class="row">
      <div class="feature-box col-lg-4 col-sm-12">
        <i class="fa-solid fa-circle-check fa-4x icons"></i>
        <a href="{{ url_for('sharestory') }}"><h3 style="text-align: center">Share</h3></a>
        <p>Keep your Privacy and feel Comfortable to Share your stories, your worries, your achievements or your experience.</p>
      </div>

      <div class="feature-box col-lg-4 col-sm-12">
        <i class="fa-solid fa-bullseye fa-4x icons"></i>
        <a href="{{ url_for('create') }}"><h3 style="text-align: center">Connect</h3></a>
        <p>Connect with others in a private chat or just by reading their stories.</p>
      </div>

      <div class="feature-box col-lg-4 col-sm-12">
        <i class="fa-solid fa-heart fa-4x icons"></i>
        <a href="{{ url_for('chatty') }}"><h3 style="text-align: center">Ask for advice</h3></a>
        <p>You can either find help from Chatty, our AI trained helper or the others from the community.</p>
      </div>
    </div>
  </section>