{% include 'layout.html' %}
<!-- ======= Footer ======= -->
  <footer id="footer" style="text-align:center; background-color: #EEEEEE;
  margin-top: auto;position: fixed;
  bottom: 0;
  width: 100%;
  height: 10px; /* replace with actual footer height */">
    <h6 class="footer-brand" style="margin: 20px 10px; text-align:center; font-family: 'Amatic SC', cursive;
font-family: 'Concert One', cursive; font-family: 'Amatic SC', cursive;
font-family: 'Concert One', cursive;">Little Green Heroes</h6>
   
    <a href="mailto:miyamarinova@gmail.com" class="social-links" style="margin: 0px auto"><i class="fa-solid fa-envelope fa-xl footer-sym"></i></a>
  </footer>
<!-- JavaScript -->
<!-- jQuery first,than Bootstrap JS-->

<script src="static/images/js/index.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- End Footer -->