{% include "layout.html" %}
{% include "navbar.html" %}

<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for story in all_stories %}
        <div class="post-preview">
          <a href="{{ url_for('show_story', story_id=story.id) }}">
            <h2 class="story-title">
              {{story.title}}
            </h2>
          </a>
          <p class="story-meta">Posted by
            <a href="#">{{story.author}}</a>
            on {{story.date_created}}</p>
        </div>
        <hr>
        {% endfor %}


        <!-- New Post -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{url_for('sharestory')}}">Share Your Story</a>
        </div>
      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}